# Environment variables
.env
.env.local
backend/.env
frontend/.env.local

#Hyfen/*

# Python
__pycache__/
*.py[cod]
*.so
.Python
db.sqlite3
*.egg-info/
dist/
build/

# Node
node_modules/
.next/
out/
.DS_Store

# Docker
postgres_data/

# IDE
.vscode/
.idea/
*.swp
*.swo
