@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  /* Backgrounds - Cores Base */
  --color-background: #0E0E11;
  /* Background Principal */
  --color-card: #1C1C22;
  /* Background Secundário (Cards) */

  /* Textos */
  --color-foreground: #FFFFFF;
  /* Texto Principal */
  --color-text-secondary: #A1A1AA;
  /* Texto Secundário */

  /* Gradiente de Marca (Identidade) */
  --color-brand-purple: #6D5DF6;
  /* Roxo */
  --color-brand-blue: #3B82F6;
  /* Azul */

  /* Cor de Sucesso (Acento) */
  --color-success: #22C55E;
  /* Verde Sucesso */

  /* Tipografia */
  --font-sans: var(--font-inter);
  /* Inter (Google Fonts) */
}

@layer utilities {
  .bg-brand-gradient {
    @apply bg-gradient-to-r from-brand-purple to-brand-blue;
  }

  .text-brand-gradient {
    @apply bg-gradient-to-r from-brand-purple to-brand-blue bg-clip-text text-transparent;
  }
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}